<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BIENVENIDO A LA PÁGINA DE INICIO </h1>
    <a href="/login"><button>Iniciar sesión</button></a>
  </body>
</html>
