<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
</head>
    <body>
        <h1> INICIO EXITOSO! </h1>
        <h2>ESTA ES LA PÁGINA DE INICIO DE USUARIOS QUE HAN HECHO LOGIN</h2>
    </body>
</html>